[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=/usr/bin/foot -e /opt/cemu/Cemu
Name=Cemu
Icon=/usr/share/icons/Papirus/48x48/apps/cemu.svg
Categories=Game;Emulator;
